.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.resume-container {
  width: 400px; /* 원하는 너비로 설정 */
  margin-right: 20px;
  margin-left: 10px;
  background-color: rgba(192, 192, 192, 0.3);
  height: 100vh;
  border-radius: 20px;
  padding: 20px; /* 내부 여백 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.resume-container h1 {
  font-size: 28px; /* 원하는 폰트 크기 */
  color: #333; /* 어두운 색상으로 변경 */
  text-align: center; /* 가운데 정렬 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}

.resume-container h2 {
  font-size: 18px; /* 원하는 폰트 크기 */
  color: #555; /* 중간 색상으로 변경 */
  margin-bottom: 20px; /* 아래 여백 추가 */
}

.resume-container p {
  font-size: 16px; /* 원하는 폰트 크기 */
  color: #666; /* 약간 어두운 색상으로 변경 */
  line-height: 1.6; /* 줄 간격 조정 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}

.resumePhoto {
  display: block; /* 이미지를 블록 요소로 변경 */
  width: 150px; /* 크기 조정 */
  height: auto;
  margin: 20px auto; /* 수평 가운데 정렬 및 여백 조정 */
  border-radius: 50%;
  border: 2px solid #ccc; /* 테두리 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.slider {
  position: relative;
  width: 60%; /* 원하는 너비로 설정 */
  height: 700px; /* 원하는 높이로 조정 */
  overflow: hidden;
  cursor: pointer;
  right: 7%;
  top : 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.slide.active {
  opacity: 1;
}

.slide-text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색 추가 */
  padding: 10px 20px; /* 내부 여백 추가 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.text1 {
  font-size: 36px; /* 원하는 폰트 크기 */
  font-weight: bold;
}

.text2 {
  font-size: 18px; /* 원하는 폰트 크기 */
  margin-top: 10px; /* 위아래 간격 */
}

.left-arrow-container, .right-arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.left-arrow-container {
  left: 30%;
  font-size: 50px;
}

.right-arrow-container {
  right: 4%;
  font-size: 50px;
}
